.circelMenu {
  margin: 10px 10px;
  position: fixed;
  height: 60px;
}
.circleMenuList {
  height: 100%;
}
.circleMenuItem {
  font-size: 12px !important;
  padding: 5px !important;
}
.tabPanelDataCircleInfor {
  height: 80%;
  /* overflow: scroll; */
}
.circleInfoBox {
  height: calc(100vh - 10rem);
  overflow: auto;
}
