.list {
  width: 100%;
  height: auto;
  background-color: white;
}

.listBox {
  margin-left: 20px;
  height: calc(100vh - 9rem);
  overflow: auto;
}
.circleListItem {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem;
}
.circleItem {
  margin-right: 1rem;
}
.circleListItem::-webkit-scrollbar {
  display: none;
}
.circleListTitle {
  font-weight: bold;
  font-size: 24px;
  color: #c13450;
  padding: 1rem 0;
}
