.newCircleButton {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  z-index: 2;
}
.creatNewCircleModal {
  min-width: 80%;
  z-index: 6;
}
.creatNewCircleModalInputBox {
  margin-top: 20px;
  margin-bottom: 10px;
  /* height: 600px; */
  overflow: auto;
}
.createNewCircleTextField {
  margin-top: 5px;
  margin-bottom: 15px !important;
  width: 100%;
}
.creatNewCircleModalButtonBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.creatNewCircleModalButtonBox div {
  width: 120px;
}
.confirmModal {
  z-index: 101;
}
.subTitle {
  font-weight: bold;
  color: #848484;
  font-size: 14px;
  margin-bottom: 1rem;
}
.accountSettingInputUpload {
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 5px;
  color: #848484;
  display: flex;
  padding: 0.4rem 1rem;
}
.inputSetting {
  display: none;
}
.align-center {
  align-items: center;
}
.flex {
  display: flex;
}
.inputBox {
  padding: 1rem 0;
}
.circleImagePreview img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.imageInputTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageInputTitle p {
  font-weight: bold;
  font-size: 14px;
  margin-left: 3px;
}
.chooseFileButoon {
  margin-top: 20px;
}
.userInfomationBox {
  padding: 2rem;
}
.userInfomationIcon {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}
.userInfomationItem {
  padding: 0.6rem;
  border: 1px solid #d54b679c;
  border-radius: 50%;
}
.userInfomationTitle {
  font-weight: bold;
  padding-left: 1rem;
  color: #c13450;
}
.userInfomationHeader {
  display: flex;
  padding-bottom: 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.userInfomationName {
  font-weight: bold;
  padding-bottom: 0.3rem;
}
.userInfomationEmail {
  font-size: 14px;
  color: #848484;
}
.userInfomationHeaderAvatar {
  width: 3rem;
  height: 3rem;
}
.userInfomationHeaderAvatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.userInfomationSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7rem;
  border-bottom: #e3e3e3 1px solid;
  margin-bottom: 1.5rem;
}
.userInfomationSectionIcon {
  display: flex;
  align-items: center;
}
.userInfomationSectionName {
  color: #959499;
  font-size: 14px;
  padding-left: 0.7rem;
}
.userInfomationSectionContent {
  font-weight: bold;
  font-size: 14px;
}
.userInfomationComponent {
  height: calc(100vh - 9rem);
  overflow: auto;
}
