.memberPage {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.wantToJoinUser {
  margin: 5px 10px;
  display: flex;
  align-items: center;
}
.wantToJoinUserAvatar {
  margin-right: 15px;
}
.wantToJoinUserAvatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.wantToJoinUserMessageBox {
  width: 75%;
}
.wantToJoinUserMessage {
  width: 100%;
  border-radius: 10px;
  background-color: #c13450;
}
.wantToJoinUserName {
  font-size: 12px;
  padding-top: 8px;
  font-weight: bold;
  color: #c13450;
}
.wantToJoinUserMessageTextBox {
  padding: 5px 15px;
  color: #ffff;
  overflow-wrap: break-word;
  font-size: 14px;
}

.repButtonBox {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}
.wantToJoinUserRepButton {
  margin-left: 10px;
  padding: 3px;
  width: 80px;
  display: flex;
  border-radius: 8px;
  text-align: center;
  font-size: 13px;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.wantToJoinUserRepButton p {
  margin-left: 3px;
}
.memberAvatar img {
  /* max-height: 100%; */
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.memberCard {
  margin-right: 1rem;
  min-width: 240px;
  height: auto;
  border-radius: 10px;
  border: 1px #b9b9c65b solid;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 1rem;
}
.memberCardAvatar {
  width: 80px;
  height: 80px;
}
.memberCardAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.memberCardInfo {
  margin-left: 1rem;
}
.memberCardUsername {
  padding: 2px 0;
  font-weight: bold;
  font-size: 16px;
}
.memberCardUsercode {
  font-size: 12px;
  color: #838399;
}
.memberCardUserrole {
  margin-top: 7px;
  color: #c13450;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 6px;
  border: 1px #e38a9ca8 solid;
  text-align: center;
  border-radius: 15px;
}
.memberCardTag {
  max-width: 50px;
}
.memberList {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 10px 5px;
}
.textOfButton {
  font-size: 12px;
  margin-left: 2px;
  font-weight: bold;
}
.buttonJoin {
  display: flex;
  align-self: center;
  justify-content: center;
}
.wrapButton {
  margin-right: 1rem;
}
.circleJoiningText{
  color: #888888;
  font-weight: bold;
  font-size: 14px;
  padding: 1rem 0;
}