.chatInputBox {
  width: 95%;
  position: fixed;
  bottom: 80px;
  display: flex;
  margin-left: 10px;
}
.chatInput {
  width: 90%;
}
.chatSendIcon {
  width: 15%;
}
.wrapChatSendIcon {
  background-color: #c13450;
  border-radius: 50%;
  padding: 8px;
}
.sendIcon {
  transform: translateX(2px) translateY(3px);
}
.messageUserPhoto {
  border-radius: 50%;
  width: 3rem;
}
.messageItem {
  display: flex;
  align-items: center;
}
.messageItemLeft,
.messageItemLeftOnly {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.messageItemLeftOnly {
  margin-top: 2px;
}
.messageItemLeft:not(:first-child),
.messageItem:not(:first-child) {
  margin-top: 15px;
}
.messageItemOnly {
  margin-top: 2px;
  margin-left: 3rem;
}
.messageContent,
.messageContentLeft,
.messageContentLeftOnly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 5px;
  word-wrap: break-word;
}
.messageBody {
  display: inline-block;
  flex-direction: column;
  max-width: 70%;
}
.messageItemLeft .messageBody {
  align-items: flex-end;
}
.messageContent {
  margin-left: 15px;
  background-color: #eeeeee;
  color: rgb(60, 60, 60);
  /* max-width: 100%; */
}
.messageContentLeft,
.messageContentLeftOnly {
  background-color: #c13450;
  color: #fff;
  text-align: left;
  max-width: 100%;
}
.messageContentLeft {
  margin-right: 15px;
}
.messageContentLeftOnly {
  margin-right: calc(15px + 3rem);
}
.messagesBox {
  width: 100%;
  margin-top: 1rem;
  height: calc(100vh - 400px);
  overflow-y: auto;
  /* overflow-x: hidden; */
}
.messageUserName,
.messageUserNameLeft {
  font-weight: 600;
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 5px;
}
.messageUserNameLeft {
  margin-right: 15px;
}

.chatImagePreview {
  position: absolute;
  top: -55px;
}
.chatImagePreview img {
  width: auto;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.messageImage {
  margin-right: calc(20px + 3rem);
  border-radius: 5px;
  margin-top: 5px;
  object-fit: cover;
}

.messageImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reactionBox {
  display: flex;
  gap: 5px;
}

.messageReactIconBox {
  margin-top: 4px;
  margin-bottom: 8px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e4e4;
  padding: 4px 8px;
  border-radius: 8px;
}

.messageReactCount {
  font-size: 16px;
  font-weight: bold;
  color: #c13450;
}
